<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.user.mapper.WechatuserMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="Wechatuser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_user_wechatuser(
                            openid,
                            nickname,
                            sex,
                            address,
                            headimgurl,
                            unionid,
                            user_id
        ) values(
                                   #{openid},
                                   #{nickname},
                                   #{sex},
                                   #{address},
                                   #{headimgurl},
                                   #{unionid},
                                   #{userId}
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_user_wechatuser where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Wechatuser">
        update t_user_wechatuser
        set

                            openid = #{openid},
                            nickname = #{nickname},
                            sex = #{sex},
                            address = #{address},
                            headimgurl = #{headimgurl},
                            unionid = #{unionid},
                            user_id = #{userId}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from t_user_wechatuser where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultMap="BaseResultMap">
        select * from t_user_wechatuser
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="WechatuserQuery" resultType="Long">
        select count(*) from t_user_wechatuser
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="WechatuserQuery" resultMap="BaseResultMap">
        select * from t_user_wechatuser
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        delete from t_user_wechatuser where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.user.domain.Wechatuser">
        <id column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="address" property="address" />
        <result column="headimgurl" property="headimgurl" />
        <result column="unionid" property="unionid" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openid, nickname, sex, address, headimgurl, unionid, user_id AS userId
    </sql>

</mapper>
