<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.sys.mapper.DictionaryitemMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="Dictionaryitem" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_sys_dictionaryitem(
                            `title`,
                            `value`,
                            `sequence`,
                            `intro`,
                            parent_id
        ) values(
                                   #{title},
                                   #{value},
                                   #{sequence},
                                   #{intro},
                                   #{parent.id}
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_sys_dictionaryitem where id = #{id}
    </delete>


    <!--更新对象-->
    <update id="update" parameterType="Dictionaryitem">
        update t_sys_dictionaryitem
        set

                            `title` = #{title},
                            `value` = #{value},
                            `sequence` = #{sequence},
                            intro = #{intro},
                            parent_id = #{parent.id}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from t_sys_dictionaryitem where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultMap="BaseResultMap">
        select * from t_sys_dictionaryitem
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="DictionaryitemQuery" resultType="Long">
        select count(*)
        FROM t_sys_dictionaryitem c LEFT JOIN
        t_sys_dictionary p ON c.parent_id = p.id
        <include refid="whereSql"/>
    </select>

    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="DictionaryitemQuery" resultMap="BaseResultMap">
        SELECT c.*, p.id as `pid`,  p.title as `ptitle`
        FROM t_sys_dictionaryitem c LEFT JOIN
        t_sys_dictionary p ON c.parent_id = p.id
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (c.title like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        delete from t_sys_dictionaryitem where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.sys.domain.Dictionaryitem">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="value" property="value" />
        <result column="sequence" property="sequence" />
        <result column="intro" property="intro" />
        <result column="pid" property="parent.id"></result>
        <result column="ptitle" property="parent.title"></result>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, value, sequence, intro, parent_id AS parentId
    </sql>

</mapper>
