<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.sys.mapper.DictionaryMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="Dictionary" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_sys_dictionary(
                            sn,
                            title,
                            intro,
                            status
        ) values(
                                   #{sn},
                                   #{title},
                                   #{intro},
                                   #{status}
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        DELETE d,i
        FROM t_sys_dictionary d
        LEFT JOIN t_sys_dictionaryitem i
        ON d.id = i.parent_id
        where d.id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Dictionary">
        update t_sys_dictionary
        set

                            sn = #{sn},
                            title = #{title},
                            intro = #{intro},
                            status = #{status}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from t_sys_dictionary where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultType="dictionary">
        select * from t_sys_dictionary
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="DictionaryQuery" resultType="Long">
        select count(*) from t_sys_dictionary
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="DictionaryQuery" resultMap="BaseResultMap">
        select * from t_sys_dictionary
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (sn like concat('%',#{keyword},'%') or title like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        DELETE d,i
        FROM t_sys_dictionary d
        LEFT JOIN t_sys_dictionaryitem i
        ON d.id = i.parent_id
        where d.id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.sys.domain.Dictionary">
        <id column="id" property="id" />
        <result column="sn" property="sn" />
        <result column="title" property="title" />
        <result column="intro" property="intro" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sn, title, intro, status
    </sql>

</mapper>
