<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.mkt.mapper.BusinessProductMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="BusinessProduct" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_mkt_business_product(
                            name,
                            price,
                            description,
                            type_id,
                            resource,
                            business_id
        ) values(
                                   #{name},
                                   #{price},
                                   #{description},
                                   #{typeId},
                                   #{resource},
                                   #{businessId}
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_mkt_business_product where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="BusinessProduct">
        update t_mkt_business_product
        set

                            name = #{name},
                            price = #{price},
                            description = #{description},
                            type_id = #{typeId},
                            resource = #{resource},
                            business_id = #{businessId}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from t_mkt_business_product where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultMap="BaseResultMap">
        select * from t_mkt_business_product
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="BusinessProductQuery" resultType="Long">
        select count(*) from t_mkt_business_product
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="BusinessProductQuery" resultMap="BaseResultMap">
        select * from t_mkt_business_product
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        delete from t_mkt_business_product where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.mkt.domain.BusinessProduct">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="description" property="description" />
        <result column="type_id" property="typeId" />
        <result column="resource" property="resource" />
        <result column="business_id" property="businessId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, price, description, type_id AS typeId, resource, business_id AS businessId
    </sql>

</mapper>
