<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.mkt.mapper.ClueActivityMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="ClueActivity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_mkt_clue_activity(
                            clue_id,
                            activity_id
        ) values(
                                   #{clueId},
                                   #{activityId}
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_mkt_clue_activity where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="ClueActivity">
        update t_mkt_clue_activity
        set

                            clue_id = #{clueId},
                            activity_id = #{activityId}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from t_mkt_clue_activity where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultMap="BaseResultMap">
        select * from t_mkt_clue_activity
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="ClueActivityQuery" resultType="Long">
        select count(*) from t_mkt_clue_activity
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="ClueActivityQuery" resultMap="BaseResultMap">
        select * from t_mkt_clue_activity
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        delete from t_mkt_clue_activity where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.mkt.domain.ClueActivity">
        <id column="id" property="id" />
        <result column="clue_id" property="clueId" />
        <result column="activity_id" property="activityId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, clue_id AS clueId, activity_id AS activityId
    </sql>

</mapper>
