<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.org.mapper.EmployeeShopMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="EmployeeShop" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_org_employee_shop(
                            employee_id,
                            shop_id,
                            is_manager
        ) values(
                                   #{employeeId},
                                   #{shopId},
                                   #{isManager}
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_org_employee_shop where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="EmployeeShop">
        update t_org_employee_shop
        set

                            employee_id = #{employeeId},
                            shop_id = #{shopId},
                            is_manager = #{isManager}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from t_org_employee_shop where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultMap="BaseResultMap">
        select * from t_org_employee_shop
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="EmployeeShopQuery" resultType="Long">
        select count(*) from t_org_employee_shop
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="EmployeeShopQuery" resultMap="BaseResultMap">
        select * from t_org_employee_shop
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>

    <select id="loadByShopId" resultType="com.heng.org.domain.EmployeeShop">
        select * from t_org_employee_shop
        where shop_id = #{id}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        delete from t_org_employee_shop where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.org.domain.EmployeeShop">
        <id column="id" property="id" />
        <result column="employee_id" property="employeeId" />
        <result column="shop_id" property="shopId" />
        <result column="is_manager" property="isManager" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, employee_id AS employeeId, shop_id AS shopId, is_manager AS isManager
    </sql>

</mapper>
