<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.org.mapper.ShopMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="Shop" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_org_shop(
                            name,
                            tel,
                            registerTime,
                            `state`,
                            address,
                            logo
        ) values(
                                   #{name},
                                   #{tel},
                                   #{registerTime},
                                   #{state},
                                   #{address},
                                   #{logo}
        )
    </insert>
    <!--删除对象-->
    <delete id="remove" parameterType="long">
        delete from t_org_shop where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Shop">
        update t_org_shop
        set
                            name = #{name},
                            tel = #{tel},
                            registerTime = #{registerTime},
                            `state` = #{state},
                            address = #{address},
                            logo = #{logo}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="loadById" resultMap="BaseResultMap" parameterType="long">
        select * from t_org_shop where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="loadAll" resultMap="BaseResultMap">
        select * from t_org_shop
    </select>

    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="loadTotal" parameterType="ShopQuery" resultType="Long">
        select count(*) from t_org_shop s
        LEFT JOIN t_org_employee_shop es ON es.shop_id = s.id AND es.is_manager = 1
        LEFT JOIN t_org_employee e ON es.employee_id = e.id
        <include refid="whereSql"/>
    </select>

    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="pageList" parameterType="ShopQuery" resultMap="BaseResultMap">
        SELECT s.*, e.id as `eid`, e.nickName as `enickName`
        FROM t_org_shop s
        LEFT JOIN t_org_employee_shop es ON es.shop_id = s.id AND es.is_manager = 1
        LEFT JOIN t_org_employee e ON es.employee_id = e.id
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>

    <select id="loadByName" resultType="com.heng.org.domain.Shop">
        select *
        from t_org_shop
        where name = #{name};
    </select>

    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (s.name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="patchRemove" parameterType="arraylist">
        delete from t_org_shop where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.heng.org.domain.Shop">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="tel" property="tel" />
        <result column="registerTime" property="registerTime" />
        <result column="state" property="state" />
        <result column="address" property="address" />
        <result column="logo" property="logo" />
        <association property="manager" javaType="employee">
            <id column="eid" property="id"></id>
            <result column="enickName" property="nickName"></result>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, tel, registerTime, state, address, logo
    </sql>

</mapper>
